.App {
  text-align: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  width: 200px;
  cursor: pointer;
}

.today {
  background-color: lightblue;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.headline {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  color: #333;
}

.final-id {
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.final-id p {
  margin: 0;
  font-weight: bold;
}

.headline {
  text-align: center;
}

.available-slots {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

.card.selected {
  background-color: blue;
}

.card.selected h3 {
  color: white;
}

.card.time-slot.selected {
  background-color: blue;
}

.card.time-slot.selected h3 {
  color: white;
}
